h2,p{
    text-align: center;
}
span{
    color: red;
    font-size: 35px;
}
.btns{
    text-align: center;
    margin: auto;
    align-items: center;
    padding-top: 50px;
}
.form{
    text-align: center;
    margin: auto;
}